<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.userRegister.mapper.UserMapper">
	<resultMap type="com.userRegister.pojo.User"
		id="userResultMap">
		<id property="id" column="id" />
		<result property="code" column="code"
			javaType="java.lang.String" />
		<result property="name" column="name"
			javaType="java.lang.String" />
		<result property="password" column="password"
			javaType="java.lang.String" />
		<result property="create_date" column="create_date"
			javaType="java.util.Date" />
		<result property="modify_date" column="modify_date"
			javaType="java.util.Date" />
		<result property="age" column="age" javaType="java.lang.String" />
		<result property="sex" column="sex" javaType="java.lang.String" />
		<result property="address" column="address"
			javaType="java.lang.String" />
	</resultMap>
	<select id="selectUserOne" parameterType="map"
		resultMap="userResultMap">
		select
		id,code,name,password,create_date,modify_date,age,sex,address from
		zz_user
		where code=#{code} and password=#{password};
	</select>
	<select id="selectUserPage" resultType="com.userRegister.pojo.User" >
		select
		id,code,name,password,create_date,modify_date,age,sex,address from
		zz_user where
		code=#{parameter} or name like CONCAT('%',#{parameter},'%') or address like
		CONCAT('%',#{parameter},'%') order by create_date desc
	</select>
	<insert id="addUser">
		INSERT INTO zz_user(code,name,password,age,create_date,creator,sex,address)
		VALUES (
		#{code},#{name},#{password},#{age},#{create_date},#{creator},#{sex},#{address})
	</insert>
	<update id="updateUser" parameterType="com.userRegister.pojo.User">update  `zz_user`<trim prefix="SET" suffixOverrides=","><if test="name!=null and name!='' ">`zz_user`.`name` = #{name},</if><if test="code != null and code != ''">`zz_user`.`code`=#{code},</if><if test="password!= null and password!=''">`zz_user`.`password`=#{password},</if><if test="age != null and age != ''">`zz_user`.`age`= ${age},</if><if test="sex != null and sex != ''">`zz_user`.`sex`=#{sex},</if><if test="address != null and address != ''">`zz_user`.`address`=#{address}</if></trim>where `zz_user`.`id` = ${id}
    </update>
	<delete id="deleteUser">
		delete from zz_user where id = #{id}
	</delete>

</mapper>